<div class="flex flex-col md:flex-row">
  <div class="bg-gray-800 h-16 md:h-screen w-16 md:w-60 fixed top-0 left-0">

  </div>

  <section id="messageContainer" class="bg-gray-600 h-screen w-full p-5 flex flex-col md:ml-60">
    <div class="flex flex-col-reverse h-full w-full">
      <div id="message" class="bg-gray-600 pb-20">
        <div *ngFor="let message of visibleMessages; let last = last">
          <div class="text-white flex gap-2 items-center" [style.margin-bottom.px]="last ? 0 : 33">
            <img class="rounded-full h-10 w-10" [src]="message.userImage" alt="">
            <div class="bg-gray-500 py-1 px-4 rounded-full w-fit flex gap-2">
              {{ message.message }}
              <div class="text-blue-200">{{ message.id }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fixed bottom-0 py-6 flex w-full">
      <form class="flex gap-3 w-full" [formGroup]="form">
        <input [formControlName]="'message'" type="text" placeholder="Type your message here..." class="w-[600px] bg-gray-700 rounded-lg px-4 py-2 text-white outline-none focus:ring-2 focus:ring-gray-500">
        <button class="text-white" (click)="sendMessage()">Send</button>

        <button class="px-2" (click)="loadMoreMessages()">show more</button>
      </form>
    </div>
  </section>

  <div class="bg-gray-800 h-16 md:h-screen w-96 fixed top-0 right-0">

  </div>
</div>
